@import "../node_modules/@salesforce-ux/design-system/css/chat/base/index.css";
@import "./style-app.scss";
@import "../node_modules/devices.css/src/reset";
@import "../node_modules/devices.css/src/imac-pro";
@import "../node_modules/devices.css/src/iphone-x";
@import "../node_modules/devices.css/src/surface-book";
@import "../node_modules/devices.css/src/google-pixel";

.wp-block-chatterbox-chat {
    ul {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    &.is-style-app {
        border: 1px solid #ddd;
        .slds-chat {
            background: #f9f9f9;
            margin-bottom: 0 !important;
        }
        ul {
            padding: 1rem 1.5rem !important;
            margin: 0 !important;
        }
    }
    .device-imac-pro {
        width: auto;
        .device-frame,
        .device-frame:after,
        .device-content {
            width: auto;
        }
    }
    .device-iphone-x,
    .device-google-pixel {
        margin: 0 auto;
    }
    .device-iphone-x .device-content {
        padding-top: 4rem;
    }
    &.is-style-laptop {
        transform: scale( 0.9 );
        position: relative;
        left: -6rem;
        @media screen and (max-width: 420px) {
            left: -11.5rem;
            transform: scale(0.66);
        }
    }
    .device-content {
        background: #f9f9f9;
        padding: 1rem;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

.wp-block-chatterbox-message {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    padding-left: 0 !important;
    margin-left: 0 !important;
}

.wp-block-chatterbox-message .slds-chat-message__text {
    font-size: 16px;
    max-width: fit-content;
}

.is-style-outbound .slds-chat-message__meta {
    margin-left: auto !important;
    max-width: fit-content;
}