.chatterbox-app-toolbar {
    min-height: 22px;
    box-shadow: inset 0 1px 0 #f5f4f5;
    background-color: #e8e6e8;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e6e8), color-stop(100%,#d1cfd1));
    background-image: -webkit-linear-gradient(top, #e8e6e8 0%, #d1cfd1 100%);
    background-image:  linear-gradient(to bottom, #e8e6e8 0%, #d1cfd1 100%); 
    &:before,
    &:after {
        display: table;
        content: " ";
    }
    &:after {
        clear: both;
    }
  }
  
.chatterbox-app-header {
    border-bottom: 1px solid #c2c0c2;
}

.chatterbox-app-footer {
    border-top: 1px solid #c2c0c2;
}
